@model RaygunTrello.Controllers.CardController.TrelloCardViewModel
<h2>Card comments</h2>
<div class="card-detail">
    <h4>@Model.Card.Name</h4>
    <p class="card-description">@Model.Card.Desc</p>
    <div class="comment-list">
        @foreach (var comment in Model.Comments)
        {
            <div class="comment">
                <p>@comment.Date</p>
                <p>@comment.Data.Text</p>
            </div>
        }
    </div>
    <div class="add-comment-form">
        <form method="post">
            <textarea rows="4" name="comment"></textarea>
            <button type="submit">Add Comment</button>
        </form>
    </div>
    <h4><a href="/Board/Cards?boardId=@Model.Card.IdBoard&userToken=@ViewBag.UserToken">&lt;= Back to Board</a></h4>
</div>
