<script type="text/javascript">
    var userToken = window.localStorage.getItem("com.albedogames.usertoken");

    if (userToken === null) {
        var urlToken = window.location.href;
        var paramSplitIndex = urlToken.indexOf("=");
        console.log(paramSplitIndex);
        urlToken = urlToken.substr(paramSplitIndex + 1);
        if (paramSplitIndex === -1) {
            var authUrl =
                "https://trello.com/1/authorize?scope=read,write,account&expiration=never&name=RaygunTrello&key=1f129d5b20e344eeeac6eb002147c673&response_type=token";
            var myWindow = window.open(authUrl, "RaygunTrello Auth", "width=500,height=600");
        } else {
            window.localStorage.setItem("com.albedogames.usertoken", urlToken);
            window.location.href = "/Board/Index?userToken=" + urlToken;
        }

    } else {
        window.location.href = "/Board/Index?userToken=" + userToken;
    }
</script>
<div>
    <h1>Welcome to RaygunTrello</h1>
    <p>Please be sure to unblock popups for this site</p>
    <p><strong>Please type or paste your Trello user token here</strong></p>
    <form action="/Home/Token" method="post">
        <input type="text" name="userToken"/>
        <button type="submit">Submit</button>
    </form>
</div>
