<script type="text/javascript">
    window.sessionStorage.removeItem("com.albedogames.usertoken");
</script>
<h2>Invalid Token</h2>
<h3>Oh noes! Your user token is not valid.</h3>
<a href="/Home/Index"><h4>Get a new code</h4></a>
