@model IEnumerable<RaygunTrello.Models.TrelloBoard>

<h2>Select a board to edit</h2>
<div class="board-list">
    @foreach (var board in Model)
    {
        <a href="/Board/Cards?boardId=@board.Id&userToken=@ViewBag.UserToken">
            <div class="board">
                <h4>@board.Name</h4>
                <strong>@board.Desc</strong>
            </div>
        </a>
    }
</div>