body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.board-list {
    display: inline-flex;
    flex-wrap: wrap;
    background-color: dodgerblue;
    border-radius: 5px;
}

.board {
    background-color: #d3d3d3;
    margin: 20px;
    padding: 20px;
    min-width: 300px;
    border-radius: 5px;
}

.card-list {
    display: inline-flex;
    flex-wrap: wrap;
}

.card {
    margin: 8px;
    padding: 20px;
    min-width: 300px;
    max-width: 300px;
    min-height: 100px;
    border-color: cadetblue;
    border-style: solid;
    text-align: left;
}

.card-description, .card.h4 {
    max-width: 300px;
}

.card-detail {
    border-radius: 5px;
    background-color:darkgray;
    max-width: 600px;
    padding: 10px;
}

.comment-list {
    border-radius: 5px;
    background-color:snow;
    margin: 10px;
    padding: 3px;
}

.comment {
    border-radius: 3px;
    padding: 5px;
    border-style: solid;
    border-color: cadetblue;
    margin: 3px;
}

.add-comment-form, textarea {
    width: 100%;
}

